<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Trung Tâm Âm Nhạc Thái Hưng</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="node_modules/swiper/dist/css/swiper.min.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
	<div class="page">
		<div class="header">
			<a href="index.html" id="logo"><img src="images/logo.png" alt="logo"></a>
			<ul class="navigation">
				<li class="selected">
					<a href="index.html">Trang chủ</a>
				</li>
				<li>
					<a href="about.html">Giới thiệu</a>
				</li>
				<li>
					<a href="programs.html">Chương trình học</a>
				</li>
				<li>
					<a href="blog.html">Blog</a>
				</li>
				<li>
					<a href="contact.html">Liên hệ</a>
				</li>
			</ul>
		</div>
		<div class="body">
			<div class="home">
				<div class="content">
					<div class="featured">
						<div>
							<div class="w3-content w3-display-container">
								<div class="w3-display-container mySlides">
									<img src="images/slide/slide1.jpg" style="width:100%">
								<div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
									Bạn muốn chơi guitar như một nghệ sĩ
								</div>
								</div>

								<div class="w3-display-container mySlides">
									<img src="images/slide/slide2.jpg" style="width:100%">
								<div class="w3-display-bottomright w3-large w3-container w3-padding-16 w3-black">
									Bạn đang buồn hay có tâm sự muốn kéo Violin cho giãi tỏa 
								</div>
								</div>

								<div class="w3-display-container mySlides">
								<img src="images/slide/slide3.jpg" style="width:100%">
								<div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
									Hãy đến với Trung Tâm Âm Nhạc Thái Hưng
								</div>
								</div>

								
								<button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
								<button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>

								</div>

						</div>
						<p>
							Như bạn đã biết âm nhạc như một phần của cuộc sống chúng ta, nó giúp chúng ta giải tỏa nỗi buồn , chia sẽ niềm vui . Chính vì thế Trung Tâm Âm Nhạc Thái Hưng như một sự lựa chọn đúng đắn.
						</p>
					</div>
					<div class="section">
						<h3>Chương Trình</h3>
						<ul>
							<li>
								<span>Piano</span> <a href="programs.html"><img src="images/piano.jpg" alt=""></a>
							</li>
							<li>
								<span>Violin</span> <a href="violin.html"><img src="images/violin.jpg" alt=""></a>
							</li>
							<li>
								<span>Guitar</span><a href="guitar.html"><img src="images/guitar.jpg" alt=""></a>
							</li>
							<li>
								<span>Saxophone</span> <a href="saxophone.html"><img src="images/saxophone.jpg" alt=""></a>
							</li>
							<li>
								<span>Drums</span> <a href="drums.html"><img src="images/drums.jpg" alt=""></a>
							</li>
							<li>
								<span>Voice Lesson</span> <a href="vioce-lesson.html"><img src="images/voice-lesson.jpg" alt=""></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="sidebar">
					<ul>
						<li>
							<span>9/2016</span>
							<h2>Trung Tâm Thái Hưng chính thức khai trương</h2>
							<a href="blog.html"><img src="images/singing-kids.jpg" alt=""></a>
							<p>
								Trung Tâm Âm Nhạc Thái Hưng chuyên đào tạo về các loại nhạc cụ: Piano , Guitar , ... <a href="blog.html" class="more">Xem Thêm</a>
							</p>
						</li>
						<li>
							<span>10/2106</span>
							<h2>Đón chào thành viên mới thứ 1000</h2>
							<p>
								Vào ngày 20 - 10 - 2016, Trung Tâm đón chào thành viên mới thứ 1000 trong sự hân hoan của giáo viên và ban giam đốc <a href="blog.html" class="more">Xem Thêm</a>
							</p>
						</li>
						<li>
							<span>12/2016</span> <a href="blog.html"><img src="images/singer.jpg" alt=""></a>
							<h2>Chào đón ca sĩ </h2>
							<p>
								Một ca sĩ nổi tiếng đã đến Trung Tâm để khảo sát chất lượng đề con gái của mình học <a href="blog.html" class="more">Xem Thêm</a>
							</p>
						</li>
					</ul>
					<a href="blog.html">Xem Thêm Bài Viết</a>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="about">
				<h3>Giới Thiệu</h3>
				<div>
					<a href="about.html"><img src="images/instructors.jpg" alt=""></a>
					<p>
						<strong>Bạn muốn 1 lớp học</strong> dành cho Guitar hay Violin. Lắng nghe chúng tôi , <em> Không nơi nào</em> tốt hơn chúng tôi. 
					</p>
					<a href="blog.html" class="more">Xem Thêm</a>
				</div>
			</div>
			<div class="contact">
				<h3>Liên hệ</h3>
				<ul>
					<li>
						<span>Địa chỉ :</span>
						<p>
							Quận Thủ Đức ,Thành Phố Hồ Chí Minh, VN
						</p>
					</li>
					<li>
						<span>Email :</span>
						<p>
							<a href="hr@musiccenter.com">Email</a>
						</p>
					</li>
					<li>
						<span>Số Điện Thoại :</span>
						<p>
							(84) 123 123 456 
						</p>
					</li>
				</ul>
			</div>
			<div class="connect">
				<a href="http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a> <a href="http://freewebsitetemplates.com/go/facebook/" id="facebook">facebook</a> <a href="http://freewebsitetemplates.com/go/googleplus/" id="googleplus">google+</a>
			</div>
			<p class="footnote">
				&#169; Copyright 2016. All rights reserved
			</p>
		</div>
	</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>


</body>


</html>