<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Contact - Music School Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div class="page">
		<div class="header">
			<a href="index.html" id="logo"><img src="images/logo.png" alt="logo"></a>
			<ul class="navigation">
				<li>
					<a href="index.html">Trang chủ</a>
				</li>
				<li>
					<a href="about.html">Giới thiệu</a>
				</li>
				<li>
					<a href="programs.html">Chương trình học</a>
				</li>
				<li class="selected">
					<a href="register.html">Đăng ký</a>
				</li>
				<li>
					<a href="blog.html">Blog</a>
				</li>
				<li>
					<a href="contact.html">Liên hệ</a>
				</li>
			</ul>
		</div>
		<div class="body">
			<div class="contact">
				<div>
					<div>
						<h1>Học ngay bây giờ</h1>
						<p>
							Hiện tại Trung Tâm đang có rất nhiều chương trình với học Phí ưu đãi...
						</p>
					</div>
					<div>
						<h4 style="font-weight: bolder">Chương Trình Học</h4>
						<ul class="first">
							<li>
								<a href="programs.html">Piano</a>
								<p>Nghiệp dư - Bán Chuyên - Chuyên Nghiệp</p>
							</li>
							<li>
								<a href="violin.html">Violin</a>
								<p>Nghiệp dư - Bán Chuyên - Chuyên Nghiệp</p>
							</li>
							<li>
								<a href="guitar.html">Guitar</a>
								<p>Nghiệp dư - Bán Chuyên - Chuyên Nghiệp</p>
							</li>
						</ul>
						<ul class="last">
							<li>
								<a href="saxophone.html">Saxophone</a>
								<p>Nghiệp dư - Bán Chuyên - Chuyên Nghiệp</p>							
							</li>
							<li>
								<a href="drums.html">Drums</a>
								<p>Nghiệp dư - Bán Chuyên - Chuyên Nghiệp</p>	
							</li>
							<li>
								<a href="voice-lesson.html">Luyện giọng</a>
								<p>Nghiệp dư - Bán Chuyên - Chuyên Nghiệp</p>	
							</li>
						</ul>
					</div>
					<ul class="section">
						<li>
							<span style="font-weight: bolder">Địa chỉ</span>
							<p>
								Quận Thủ Đức, Thành phố Hồ Chí Minh , VN
							</p>
						</li>
						<li>
							<span style="font-weight: bolder">Email</span> <a href="http://www.google.com/">Email Trung Tâm</a> <a href="http://www.freewebsitetemplates.com/forums/">Forum</a>
						</li>
						<li>
							<span style="font-weight: bolder">Số điện thoại</span>
							<p>
								(84) 123 456 789 <br> (84) 987 654 321 
							</p>
						</li>
					</ul>
				</div>
				<div>
					<h2 style="color:#ec7500; ">Đăng ký học</h2>
					<form action="index.html">
						<div>
							<label for="name">Tên</label>
							<input type="text" id="name">
							<label for="surname">Họ</label>
							<input type="text" id="surname"> 
							<label for="email">Địa chỉ Email</label>
							<input type="text" id="email">
						</div>
						<div>
							<label for="message">Nội dung</label>
							<textarea name="message" id="message" cols="30" rows="10"></textarea>							
						</div>
						<div style="display: inline-block">
							<label>Chương trình học</label>
							<input type="checkbox" name="programs" value="Guitar" style="margin: 10px"> Guitar<br>
							<input type="checkbox" name="programs" value="Violin"style="margin: 10px"> Violin<br>
							<input type="checkbox" name="programs" value="Piano" style="margin: 10px"> Piano<br>
							<input type="checkbox" name="programs" value="Drums" style="margin: 10px"> Trống<br>
							<input type="checkbox" name="programs" value="voice-lesson" style="margin: 10px"> Luyện Giọng<br>
							<input type="checkbox" name="programs" value="Saxophone" style="margin: 10px"> Saxophone<br>
						</div>
						<div style="display: inline-block; margin-left: 150px">
							<label>Cấp độ</label>
							<input type="checkbox" name="levels" value="beginner" style="margin: 10px"> Nghiệp dư<br>
							<input type="checkbox" name="levels" value="immediate"style="margin: 10px"> Bán Chuyên<br>
							<input type="checkbox" name="levels" value="advanced" style="margin: 10px"> Chuyên nghiệp<br>

						</div>
						<div style="display: inline-block; margin-left: 150px">
							<label>Thời gian học</label>
							<label>Thứ</label>
							<input type="checkbox" name="scheduled" value="Monday" style="margin: 5px"> Thứ 2<br>
							<input type="checkbox" name="scheduled" value="Tuesday" style="margin: 5px"> Thứ 3<br>
							<input type="checkbox" name="scheduled" value="Wesnesday" style="margin: 5px"> Thứ 4<br>
							<input type="checkbox" name="scheduled" value="Thursday" style="margin: 5px"> Thứ 5<br>
							<input type="checkbox" name="scheduled" value="Friday" style="margin: 5px"> Thứ 6<br>
							<label>Thời gian</label>
							<input type="checkbox" name="times" value="option1" style="margin: 5px">10:00am - 12:00pm<br>
							<input type="checkbox" name="times" value="option2" style="margin: 5px">1:00am - 3:00pm<br>
							<input type="submit" id="submit" value="Gửi" style="float:right; margin-left: 150px; margin-top: 20px;">
						</div>
							
					</form>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="about">
				<h3>Giới Thiệu</h3>
				<div>
					<a href="about.html"><img src="images/instructors.jpg" alt=""></a>
					<p>
						<strong>Bạn muốn 1 lớp học</strong> dành cho Guitar hay Violin. Lắng nghe chúng tôi , <em> Không nơi nào</em> tốt hơn chúng tôi. 
					</p>
					<a href="blog.html" class="more">Xem Thêm</a>
				</div>
			</div>
			<div class="contact">
				<h3>Liên hệ</h3>
				<ul>
					<li>
						<span>Địa chỉ :</span>
						<p>
							Quận Thủ Đức ,Thành Phố Hồ Chí Minh, VN
						</p>
					</li>
					<li>
						<span>Email :</span>
						<p>
							<a href="hr@musiccenter.com">Email</a>
						</p>
					</li>
					<li>
						<span>Số Điện Thoại :</span>
						<p>
							(84) 123 123 456 
						</p>
					</li>
				</ul>
			</div>
			<div class="connect">
				<a href="http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a> <a href="http://freewebsitetemplates.com/go/facebook/" id="facebook">facebook</a> <a href="http://freewebsitetemplates.com/go/googleplus/" id="googleplus">google+</a>
			</div>
			<p class="footnote">
				&#169; Copyright 2016. All rights reserved
			</p>
		</div>
	</div>

</body>
</html>