<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Saxophone - Music School Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
		<div class="page">
		<div class="header">
			<a href="index.html" id="logo"><img src="images/logo.png" alt="logo"></a>
			<ul class="navigation">
				<li>
					<a href="index.html">Trang chủ</a>
				</li>
				<li>
					<a href="about.html">Giới thiệu</a>
				</li>
				<li class="selected">
					<a href="programs.html">Chương trình học</a>
				</li>
				<li>
					<a href="register.html">Đăng ký</a>
				</li>
				<li>
					<a href="blog.html">Blog</a>
				</li>
				<li>
					<a href="contact.html">Liên hệ</a>
				</li>
			</ul>
		</div>		
		<div class="body">
			<div class="saxophone">
				<ul>
					<li>
						<a href="programs.html">Piano</a>
					</li>
					<li>
						<a href="violin.html">Violin</a>
					</li>
					<li class="selected">
						<a href="saxophone.html">Saxophone</a>
					</li>
					<li>
						<a href="guitar.html">Guitar</a>
					</li>
					<li>
						<a href="drums.html">Trống</a>
					</li>
					<li class="last">
						<a href="voice-lesson.html">Luyện <br> Giọng</a>
					</li>
				</ul>
				<div class="content">
					<div>
						<div>
							<h2>Saxophone</h2>
							<p>
								Saxophone (gọi ngắn là sax) là nhóm nhạc cụ thuộc họ kèn gỗ. Chúng chủ yếu được làm bằng đồng thau. Tuy làm bằng đồng nhưng vì hình thức tạo âm thanh dùng dăm đơn giống như kèn gỗ clarinet, nên saxophone được liệt kê là nhạc cụ kèn gỗ. Kèn Saxophone được Adolphe Sax, nhà thiết kết nhạc cụ người Bỉ phát minh ra năm 1840. Sau đó, ông được cấp bằng sáng chế vào ngày 28 tháng 6 năm 1846. Saxophone lúc ban đầu sản xuất gồm 2 loạt, mỗi nhạc cụ khác nhau về kích thước và tông độ. Nhưng loại có tông B♭ (si giáng) và E♭ (mi giáng), lúc đầu sản xuất cho nhạc quân đội, hiện nay rất phổ biến và dễ bắt gặp. Những nhạc cụ trong loạt "giao hưởng" thì thường có tông C (đô) và F (fa), loạt này chưa bao giờ được phổ biến rộng rãi, và hiện nay saxophone tông B♭ và E♭ đã thay thế loại tông C và F khi saxophone được sử dụng trong dàn giao hưởng.
							</p>
							
						</div>
						<div>
							<a href="blog.html"><img src="images/saxophone3.jpg" alt=""></a>
						</div>
					</div>
					<div class="section">
						<div>
							<h4>Nghiệp dư</h4>
							<span>Lựa chọn A: 1 500 000 VND</span>
							<p>
								Dành cho những nghười chưa biết gì.							</p>
							<span>Lựa chọn B: 2 000 000 VND</span>
							<p>
								Dạy cấp tốc , dành cho người rất ham học.
							</p>
						</div>
						<div>
							<h4>Bán Chuyên</h4>
							<span>Lựa chọn A: 1 400 000 VND</span>
							<p>
								Dành cho người đã học 2 tháng trở lên.
							</p>
							<span>Option B: 1 700 000 VND </span>
							<p>
								Giáo viên nước ngoài.
							</p>
						</div>
						<div>
							<h4>Chuyên nghiệp</h4>
							<span>Option A: 2 000 000 VND </span>
							<p>
								Bạn đã chơi như một nghệ sĩ.
							</p>
							<span>Option B: 2 500 000 VND</span>
							<p>
								Bạn có thể kiếm tiền được rồi.
							</p>
						</div>
					</div>
					<div>
						<h4>Thời Khóa Biểu</h4>
						<ul>
							<li>
								<span>Thứ 2</span> <span><span>10:00am -</span> 12:00pm </span> <span><span>1:00am -</span> 3:00pm  </span>
							</li>
							<li>
								<span>Thứ 3</span> <span><span>10:00am -</span> 12:00pm </span> <span><span>1:00am -</span> 3:00pm </span>
							</li>
							<li>
								<span>Thứ 4</span> <span><span>10:00am -</span> 12:00pm </span> <span><span>1:00am -</span> 3:00pm </span>
							</li>
							<li>
								<span>Thứ 5</span> <span><span>10:00am -</span> 12:00pm </span> <span><span>1:00am -</span> 3:00pm </span>
							</li>
							<li>
								<span>Thứ 6</span> <span><span>10:00am -</span> 12:00pm </span> <span><span>1:00am -</span> 3:00pm </span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
				<div class="footer">
			<div class="about">
				<h3>Giới Thiệu</h3>
				<div>
					<a href="about.html"><img src="images/instructors.jpg" alt=""></a>
					<p>
						<strong>Bạn muốn 1 lớp học</strong> dành cho Guitar hay Violin. Lắng nghe chúng tôi , <em> Không nơi nào</em> tốt hơn chúng tôi. 
					</p>
					<a href="blog.html" class="more">Xem Thêm</a>
				</div>
			</div>
			<div class="contact">
				<h3>Liên hệ</h3>
				<ul>
					<li>
						<span>Địa chỉ :</span>
						<p>
							Quận Thủ Đức ,Thành Phố Hồ Chí Minh, VN
						</p>
					</li>
					<li>
						<span>Email :</span>
						<p>
							<a href="hr@musiccenter.com">Email</a>
						</p>
					</li>
					<li>
						<span>Số Điện Thoại :</span>
						<p>
							(84) 123 123 456 
						</p>
					</li>
				</ul>
			</div>
			<div class="connect">
				<a href="http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a> <a href="http://freewebsitetemplates.com/go/facebook/" id="facebook">facebook</a> <a href="http://freewebsitetemplates.com/go/googleplus/" id="googleplus">google+</a>
			</div>
			<p class="footnote">
				&#169; Copyright 2016. All rights reserved
			</p>
		</div>
	</div>

</body>
</html>